# Storage Provider Configuration
# Options: 'cloudinary' | 'firebase' | 'local'
EXPO_PUBLIC_STORAGE_PROVIDER=cloudinary

# Cloudinary Configuration
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=iayng29j
EXPO_PUBLIC_CLOUDINARY_API_KEY=243111452156969
EXPO_PUBLIC_CLOUDINARY_UPLOAD_PRESET=pigment_shop
